@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-primary: #0071e3;
  --color-dark-100: #86868b;
  --color-dark-200: #2e2e30;
  --color-light-100: #adb5bd;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@utility flex-center {
  @apply flex items-center justify-center;
}

@utility flex-between {
  @apply flex items-center justify-between;
}

@utility col-center {
  @apply flex flex-col items-center justify-center;
}

@utility abs-center {
  @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2;
}

@utility h3-semibold {
  @apply font-semibold text-xl text-dark-100;
}

@utility base-semibold {
  @apply font-semibold text-base text-dark-100;
}

@utility small-medium {
  @apply font-medium text-xs;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.bg-primary {
  background-color: var(--color-primary);
}

#product-viewer {
  @apply container relative min-h-[93vh] mx-auto px-5 2xl:px-0 mt-40;

  h2 {
    @apply text-white font-semibold text-3xl lg:text-6xl;
  }

  .controls {
    @apply absolute z-50 bottom-40 lg:bottom-40 2xl:bottom-52 left-1/2 -translate-x-1/2;

    .info {
      @apply text-xs text-white bg-black/20 px-2 py-1 rounded-lg;
    }

    .color-control {
      @apply flex-between bg-neutral-800 rounded-full px-6 py-3 gap-4;

      div {
        @apply size-7 rounded-full cursor-pointer;
      }

      .active {
        @apply ring-5 size-5 ring-light-100;
      }
    }

    .size-control {
      @apply small-medium flex-between bg-neutral-800 rounded-full px-6 py-2.5 gap-2;

      div {
        @apply size-8 rounded-full cursor-pointer flex-center;
      }
      /* bg-white text-black */
    }
  }

  #canvas {
    @apply !w-full !h-[80vh] lg:!h-dvh relative z-40;
  }
}

#showcase {
  @apply relative;

  .media {
    @apply relative lg:overflow-hidden;

    video {
      @apply w-full object-cover object-center;
    }

    .mask {
      @apply absolute h-full top-0 lg:-top-20 xl:top-0;

      img {
        @apply h-full scale-150 lg:scale-100;
        transform: matrix(80, 0, 0, 80, 0, 0);
      }

      @media (max-width: 1024px) {
        img {
          transform: matrix(1, 0, 0, 1, 0, 0);
        }
      }
    }
  }

  .content {
    @apply relative z-10 my-5 lg:-mt-40 bg-black font-semibold text-xl text-dark-100 lg:opacity-0;

    .wrapper {
      @apply container mx-auto px-5 pb-20 2xl:px-0 flex flex-col lg:flex-row justify-center gap-20;
    }

    h2 {
      @apply font-semibold text-3xl lg:text-7xl text-white;
    }

    h3 {
      @apply font-semibold text-xl lg:text-5xl text-white;
    }
  }
}